/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
  --base: #1e2127;
  --sub: #0b8b32;
  --counter: #8b002a;
  --light-counter: #e60235;
  --dark: #18191e;
  --light: rgb(255, 247, 247);
}
body {
  background: var(--dark);
  margin: 0;
  font-family: "Poppins";
}
header {
  background: var(--base);
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}
header a {
  color: var(--counter);
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}


/* Navigation stuff */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* homepage */
.home {
  /* grid-template-columns: 3fr 1fr; */
  gap: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--sub);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: var(--base);
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new workout form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid var(--counter);
  border-radius: 4px;
  box-sizing: border-box;
  
}

h3 {
  color: var(--counter);
  text-transform: capitalize;
}

h2 {
  color: var(--counter);
  text-transform: capitalize;
}

p {
  color: var(--light);
}

h1 {
  min-width: 205px;
}

label {
  color: var(--counter);
}

span {
  color: var(--counter)
}

form button, button {
  background: #fff;
  color: var(--sub);
  border: 2px solid var(--sub);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}



div.error {
  padding: 10px;
  background: var(--counter);
  border: 1px solid var(--);
  color: var(--light);
  border-radius: 4px;
  margin: 20px 0;
  text-align: center;
}
input.error {
  border: 1px solid var(--counter);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a, nav button {
  margin-left: 10px;
  background: #fff;
  color: var(--counter);
  border: 2px solid var(--counter);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  
}
nav button {
  background: #fff;
  color: var(--sub);
  border: 2px solid var(--sub);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}


@media screen and (max-width: 599px) {
  /* Your mobile styles here */

  .home {
    flex-direction: column;
  }

  .container {
    flex-direction: column;
  }

}


@media screen and (min-width: 600px) and (max-width: 959px) {
  /* Your tablet styles here */
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  /* Your small laptop/desktop styles here */
}


@media screen and (min-width: 1280px) {
  /* Your large desktop styles here */
}